# project-01 
### Leah Latham, Jonah Foeday, Manroop Gill, Murtatha Alwan, & Alicia Hill

In [148]:
# Import dependencies
import hvplot.pandas
import json
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pathlib import Path
from pprint import pprint
import requests
import scipy.stats as st
from config import api_key

# File path
file = Path("Resources/Latest_Data_Science_Salaries.csv")

# Read file
ds_df = pd.read_csv(file, encoding='UTF-8')

# Display file head()
ds_df.head()

,Job Title,Employment Type,Experience Level,Expertise Level,Salary,Salary Currency,Company Location,Salary in USD,Employee Residence,Company Size,Year
0,Data Engineer,Full-Time,Senior,Expert,210000,United States Dollar,United States,210000,United States,Medium,2023
1,Data Engineer,Full-Time,Senior,Expert,165000,United States Dollar,United States,165000,United States,Medium,2023
2,Data Engineer,Full-Time,Senior,Expert,185900,United States Dollar,United States,185900,United States,Medium,2023
3,Data Engineer,Full-Time,Senior,Expert,129300,United States Dollar,United States,129300,United States,Medium,2023
4,Data Scientist,Full-Time,Senior,Expert,140000,United States Dollar,United States,140000,United States,Medium,2023

### 1. How have data science salaries changed over time?

In [2]:
# Identify top 5 countries (highest volume)
countries = ds_df["Company Location"].value_counts()
top_5_countries = countries.head(5)
top_5_countries_list = top_5_countries.index.to_list()

# create lists for each country's averages over 4 years
top_avg_list = []
for country in top_5_countries_list:
    one_country = ds_df.loc[(ds_df["Company Location"] == country), :]
    one_country_year = one_country.groupby(["Year"])["Salary in USD"].mean()
    top_avg_list.append(one_country_year)

top_5_countries_list[0] = list(top_avg_list[0])
top_5_countries_list[1] = list(top_avg_list[1])
top_5_countries_list[2] = list(top_avg_list[2])
top_5_countries_list[3] = list(top_avg_list[3])
top_5_countries_list[4] = list(top_avg_list[4])

In [3]:
# Identify bottom 5 countries (lowest volume)
countries = ds_df["Company Location"].value_counts()
bottom_5_countries = countries.tail(5)
bottom_5_countries_list = bottom_5_countries.index.to_list()
bottom_5_countries_list

# create lists for each country's averages over 4 years
bottom_avg_list = []
for country in bottom_5_countries_list:
    one_country = ds_df.loc[(ds_df["Company Location"] == country), :]
    one_country_year = one_country.groupby(["Year"])["Salary in USD"].mean()
    bottom_avg_list.append(one_country_year)

bottom_5_countries_list[0] = list(bottom_avg_list[0])
bottom_5_countries_list[1] = list(bottom_avg_list[1])
bottom_5_countries_list[2] = list(bottom_avg_list[2])
bottom_5_countries_list[3] = list(bottom_avg_list[3])
bottom_5_countries_list[4] = list(bottom_avg_list[4])

#bottom 5 countries only have data for one year each, may need to re-work or remove this one.

In [ ]:
# Create line graph showing top 5 countries average salary over time


# Save graph


# Show graph

In [ ]:
# Create line graph showing bottom 5 countries average salary over time


# Save graph


# Show graph

### 2. What is the breakdown of experience level required?

In [ ]:
# Use identified top 5 countries to value_count experience level


# Create pie chart to display breakdown (explode 'entry'?)

### 3. How do data science salaries vary by job title and experience level?

In [18]:
# Identify top 5 job titles (highest volume)
jobs = ds_df["Job Title"].value_counts()
top_5_jobs = jobs.head(5)
top_5_jobs_list = top_5_jobs.index.to_list()

job_0 = top_5_jobs_list[0]
job_1 = top_5_jobs_list[1]
job_2 = top_5_jobs_list[2]
job_3 = top_5_jobs_list[3]
job_4 = top_5_jobs_list[4]

# Create lists of salaries for each top 5 job title
job_avg_list = []
for job in top_5_jobs_list:
    one_job = ds_df.loc[(ds_df["Job Title"] == job), :]
    one_job_year = one_country.groupby(["Year"])["Salary in USD"].mean()
    job_avg_list.append(one_job_year)

top_5_jobs_list[0] = list(job_avg_list[0])
top_5_jobs_list[1] = list(job_avg_list[1])
top_5_jobs_list[2] = list(job_avg_list[2])
top_5_jobs_list[3] = list(job_avg_list[3])
top_5_jobs_list[4] = list(job_avg_list[4])

In [61]:
# DataFrame with top 5 jobs (by volume)
top_5_jobs_df = ds_df.loc[(ds_df["Job Title"] == job_0) | (ds_df["Job Title"] == job_1) | (ds_df["Job Title"] == job_2) | (ds_df["Job Title"] == job_3) | (ds_df["Job Title"] == job_4), :]

# Create summary statistics for top 5 job titles
# Mean, Median, Variance, Std Deviation, SEM
jobs_mean = top_5_jobs_df.groupby(["Job Title"])["Salary in USD"].mean()
jobs_median = top_5_jobs_df.groupby(["Job Title"])["Salary in USD"].median()
jobs_var = top_5_jobs_df.groupby(["Job Title"])["Salary in USD"].var()
jobs_stddev = top_5_jobs_df.groupby(["Job Title"])["Salary in USD"].std()
jobs_sem = top_5_jobs_df.groupby(["Job Title"])["Salary in USD"].sem()

# Merge into single DataFrame
jobs_merge_01 = pd.merge(jobs_mean, jobs_median, on="Job Title", how="left")
jobs_merge_02 = pd.merge(jobs_var, jobs_stddev, on="Job Title", how="left")
jobs_merge_03 = pd.merge(jobs_merge_01, jobs_merge_02, on="Job Title", how="left")
jobs_merge_rename = jobs_merge_03.rename(columns={"Salary in USD_x_x": "Mean", "Salary in USD_y_x": "Median", "Salary in USD_x_y": "Variance", "Salary in USD_y_y": "Std. Deviation"})
jobs_merge_04 = pd.merge(jobs_merge_rename, jobs_sem, on="Job Title", how="left")
jobs_summary_stats = jobs_merge_04.rename(columns={"Salary in USD": "SEM"})

# Formatting
jobs_summary_stats["Mean"] = jobs_summary_stats["Mean"].map("${:,.2f}".format)
jobs_summary_stats["Median"] = jobs_summary_stats["Median"].map("${:,.2f}".format)
jobs_summary_stats["Variance"] = jobs_summary_stats["Variance"].map("{:,.2f}".format)
jobs_summary_stats["Std. Deviation"] = jobs_summary_stats["Std. Deviation"].map("${:,.2f}".format)
jobs_summary_stats["SEM"] = jobs_summary_stats["SEM"].map("{:,.2f}".format)
jobs_summary_stats

,Mean,Median,Variance,Std. Deviation,SEM
Job Title,,,,,
Analytics Engineer,"$154,258.96","$149,400.00","3,383,133,047.36","$58,164.71","5,062.59"
Data Analyst,"$109,500.38","$105,320.00","2,642,872,303.05","$51,408.87","2,399.56"
Data Engineer,"$142,033.87","$135,223.00","4,019,691,477.38","$63,401.04","2,392.92"
Data Scientist,"$141,886.16","$140,000.00","4,436,580,684.95","$66,607.66","2,643.24"
Machine Learning Engineer,"$167,249.51","$161,310.00","5,095,864,503.89","$71,385.32","4,121.43"

In [ ]:
# Create boxplots showing salary information for top 5 job titles


# Save graph


# Show graph

In [ ]:
# Create lists of salaries for each experience level

In [ ]:
# Create summary statistics for experience levels
# Mean, Median, Variance, Std Deviation, SEM

In [ ]:
# Create boxplots showing salary information by experience level


# Save graph


# Show graph

### 4. Do US companies hire US residents and do US residents work for US companies?

In [145]:
# .loc US companies and add columns for lat/lon for employee residence location
us_companies_df = ds_df.loc[(ds_df["Company Location"] == "United States"), :]
us_company_df = pd.DataFrame(us_companies_df["Employee Residence"])

# Creates DataFrame for lat/lon identification, to be used for looping
us_company_df_unique_01 = pd.DataFrame(us_company_df["Employee Residence"].unique())
us_company_df_unique_01["Lat"] = ""
us_company_df_unique_01["Lon"] = ""
us_company_df_unique = us_company_df_unique_01.rename(columns={0: "Employee Residence"})

# Identify lat/lon for each row using geoapify
# Reference class activies and API Challenge (#6)

# Geoapify parameters
params = {
    "apiKey":api_key,
    "format":"json"
}

# Base URL
base_url = "https://api.geoapify.com/v1/geocode/search"

print("Starting coordinate search...")
print("---------------------------------")
print(" ")
# Loop through DataFrame to identify Latitude and Longitude
for index, row in us_company_df_unique.iterrows():
    country = row[0]

    # Ammend parameters
    params["text"] = f"{country}"

    # Make API Request
    response = requests.get(base_url, params=params).json()
    us_company_df_unique.loc[index, "Lat"] = response["results"][0]["lat"]
    us_company_df_unique.loc[index, "Lon"] = response["results"][0]["lon"]

    print(f"Coordinates for {country} fetched...")

# Narrow columns to relevant
print(" ")
print("---------------------------------")
print("Coordinate search completed")

Starting coordinate search...
---------------------------------

Coordinates for United States fetched...
Coordinates for Belgium fetched...
Coordinates for Turkey fetched...
Coordinates for Nigeria fetched...
Coordinates for Ghana fetched...
Coordinates for India fetched...
Coordinates for Egypt fetched...
Coordinates for Uzbekistan fetched...
Coordinates for Argentina fetched...
Coordinates for Germany fetched...
Coordinates for France fetched...
Coordinates for Portugal fetched...
Coordinates for Kuwait fetched...
Coordinates for Spain fetched...
Coordinates for China fetched...
Coordinates for Costa Rica fetched...
Coordinates for Chile fetched...
Coordinates for Bolivia, Plurinational State of fetched...
Coordinates for Malaysia fetched...
Coordinates for Brazil fetched...
Coordinates for Russian Federation fetched...
Coordinates for Canada fetched...
Coordinates for Viet Nam fetched...
Coordinates for Greece fetched...
Coordinates for Bulgaria fetched...
Coordinates for Philippines fetched...
Coordinates for Hungary fetched...
Coordinates for Puerto Rico fetched...
Coordinates for Romania fetched...
Coordinates for Italy fetched...

---------------------------------
Coordinate search completed

In [146]:
#Identifies count of countries of residence for Employees
us_company_count = us_companies_df.groupby(["Employee Residence"])["Employee Residence"].count()
us_company_count_df = pd.DataFrame(us_company_count).rename(columns={"Employee Residence": "Count"})

# Merge country count for sizing on map
us_company_merged = pd.merge(us_company_df_unique, us_company_count_df, on="Employee Residence", how="left")
us_company_merged = us_company_merged[["Employee Residence", "Lat", "Lon", "Count"]]

In [147]:
# Graph map of US companies employee residence location
# NEED TO LOOK UP HOW TO ADD A TITLE
us_residents_map_plot = us_company_merged.hvplot.points(
    "Lon",
    "Lat",
    geo=True,
    tiles="OSM",
    frame_width=750,
    frame_height=500,
    size="Count",
    scale=3,
    color="Employee Residence",
    muted_color="Employee Residence",
    alpha=0.6
)

# Save image
us_residents_map_plot

:Overlay
   .Tiles.I  :Tiles   [x,y]
   .Points.I :Points   [Lon,Lat]   (Employee Residence,Count)

In [ ]:
# .loc US residents and add columns for lat/lon for company location


# Identify lat/lon for each row using geoapify
# Geocode_solution for reference


# Narrow columns to relevant

In [ ]:
# Graph map of US residents employer (company) location


# Save image