# project-01 
### Leah Latham, Jonah Foeday, Manroop Gill, Murtatha Alwan, & Alicia Hill

In [12]:
# Import dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pathlib import Path

# File path
file = Path("Resources/Latest_Data_Science_Salaries.csv")

# Read file
ds_df = pd.read_csv(file, encoding='UTF-8')

# Display file head()
ds_df.head()

,Job Title,Employment Type,Experience Level,Expertise Level,Salary,Salary Currency,Company Location,Salary in USD,Employee Residence,Company Size,Year
0,Data Engineer,Full-Time,Senior,Expert,210000,United States Dollar,United States,210000,United States,Medium,2023
1,Data Engineer,Full-Time,Senior,Expert,165000,United States Dollar,United States,165000,United States,Medium,2023
2,Data Engineer,Full-Time,Senior,Expert,185900,United States Dollar,United States,185900,United States,Medium,2023
3,Data Engineer,Full-Time,Senior,Expert,129300,United States Dollar,United States,129300,United States,Medium,2023
4,Data Scientist,Full-Time,Senior,Expert,140000,United States Dollar,United States,140000,United States,Medium,2023

### 1. How have data science salaries changed over time?

In [ ]:
# Identify top 5 countries (highest volume)


# create lists for each country's averages over 4 years

In [ ]:
# Identify bottom 5 countries (lowest volume)


# create lists for each country's averages over 4 years

In [ ]:
# Create line graph showing top 5 countries average salary over time


# Save graph


# Show graph

In [ ]:
# Create line graph showing bottom 5 countries average salary over time


# Save graph


# Show graph

### 2. What is the breakdown of experience level required?

In [ ]:
# Use identified top 5 countries to value_count experience level


# Create pie chart to display breakdown (explode 'entry'?)

### 3. How do data science salaries vary by job title and experience level?

In [ ]:
# Identify top 5 job titles (highest volume)


# Create lists of salaries for each top 5 job title

In [ ]:
# Create summary statistics for top 5 job titles
# Mean, Median, Variance, Std Deviation, SEM

In [ ]:
# Create boxplots showing salary information for top 5 job titles


# Save graph


# Show graph

In [ ]:
# Create lists of salaries for each experience level

In [ ]:
# Create summary statistics for experience levels
# Mean, Median, Variance, Std Deviation, SEM

In [ ]:
# Create boxplots showing salary information by experience level


# Save graph


# Show graph

### 4. Do US companies hire US residents and do US residents work for US companies?

In [ ]:
# .loc US companies and add columns for lat/lon for employee residence location


# identify lat/lon for each row using geoapify
# Geocode_solution for reference


# Narrow columns to relevant

In [ ]:
# Graph map of US companies employee residence location


# Save image

In [ ]:
# .loc US residents and add columns for lat/lon for company location


# Identify lat/lon for each row using geoapify
# Geocode_solution for reference


# Narrow columns to relevant

In [ ]:
# Graph map of US residents employer (company) location


# Save image